
.prince{text-align:center;
  color:blue}
.image{box-shadow:4px 4px 3px}
.chapun{background-color: blue;
  border-radius:4px;
box-shadow:4px 4px 3px}
.chapdeux{background-color:blue;
border-radius:4px;
box-shadow:4px 4px 3px}
.chaptrois{background-color:blue;
border-radius:4px;
box-shadow:4px 4px 3px}
.chapquatre{background-color:blue;
border-radius:4px;
box-shadow:4px 4px 3px}
